@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.background-dolar{
 
  background-image: url(./assets/Mask.png);
  background-size: cover;
  background-size:100%;
  font-family: "Inter", sans-serif;
}

input[type = "radio"]:checked {
  accent-color: rgb(29, 199, 114);
  
}

